/*Tried transition instead of keyframes, but the changes are instant*/

body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(minmax(100px, 1fr));
  height: 100vh;
  width: 100vw;
  margin: 0px 0px;
  background-color: #7cc1fa;
  background: url('../images/daylight.svg');
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  overflow: hidden;
  z-index: 1;
}

#sunset-gradient {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: url('../images/sunset-stars.svg');
  background-size: 100% auto;
  animation-name: sunset;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  z-index: 2;
}

#cloud-1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  padding-top: 30px;
  }

#cloud_1 {
  position: absolute;
  animation-name: drifting_clouds;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  z-index: 5;
}

#cloud-2 {
  position: absolute;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  padding-top: 70px;  
  animation-name: drifting_clouds;
  animation-duration: 22s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  z-index: 6;  
}

#sun {
  grid-column-end: -1;
  grid-row: 1 / span 1;
  justify-self: center;
  position: relative;
  margin-right: 5vw;
  animation-name: sun-setting;
  animation-duration: 8s;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: 4;
  }

#moon {
  grid-column: 3;
  grid-row: 1 / span 1;
  justify-self: center;
  position: relative;
  animation-name: moonrise;
  animation-duration: 8s;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: 4;
  }

#sea {
  grid-column: 1 / -1;
}

#sea-bottom {
  position: fixed;
  top: 88vh;
  bottom: 0px;
  z-index: 5;
  }

.heaving-sea {
  position: absolute;
  margin: 0px;
  padding: 0px;
  animation-name: heaving_sea;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  z-index: 6;
}

@keyframes heaving_sea {
  from {top:95vh;}
  to {top: 78vh;}

}

@keyframes sun-setting {
  0% {opacity: 1.0;}
  5% {opacity: 0.95;}
  10% {opacity: 0.9;}
  15% {opacity: 0.85;}
  20% {opacity: 0.8;}
  25% {opacity: 0.75;}
  30% {opacity: 0.7}
  35% {opacity: 0.65;}
  40% {opacity: 0.6;}
  45% {opacity: 0.55;}
  50% {opacity: 0.5;}
  55% {opacity: 0.45;}
  60% {opacity: 0.4;}
  65% {opacity: 0.35;}
  70% {opacity: 0.3;}
  75% {opacity: 0.25;}
  80% {opacity: 0.2;}
  85% {opacity: 0.15;}
  90% {opacity: 0.1;}
  92% {opacity: 0.07;}
  95% {opacity: 0.05;}
  96% {opacity: 0.025;}
  97% {opacity: 0.01;}
  98% {opacity: 0.0;}
  100% {opacity: 0.0;}
}

@keyframes moonrise {
  0% {opacity: 0.0;}
  5% {opacity: 0.025;}
  10% {opacity: 0.05;}
  15% {opacity: 0.07;}
  20% {opacity: 0.1;}
  25% {opacity: 0.15;}
  30% {opacity: 0.2;}
  35% {opacity: 0.25;}
  40% {opacity: 0.3;}
  45% {opacity: 0.35;}
  50% {opacity: 0.4;}
  55% {opacity: 0.45;}
  60% {opacity: 0.5;}
  65% {opacity: 0.55;}
  70% {opacity: 0.6;}
  75% {opacity: 0.65;}
  80% {opacity: 0.7;}
  85% {opacity: 0.75;}
  90% {opacity: 0.8;}
  92% {opacity: 0.85;}
  95% {opacity: 0.9;}
  97% {opacity: 0.95;}
  100% {opacity: 1.0;}
}

@keyframes sunset {
  0% {opacity: 0.0;}
  10% {opacity: 0.1;}
  20% {opacity: 0.2;}
  30% {opacity: 0.3;}
  40% {opacity:0.4;}
  50% {opacity: 0.5;}
  60% {opacity: 0.6;}
  70% {opacity: 0.7;}
  80% {opacity: 0.8;}
  90% {opacity: 0.9;}
  100% {opacity: 1.0;}
}

@keyframes drifting_clouds {
  0% {
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
    }

  100% {
    transform: translateX(1700px);
    -ms-transform: translateX(1700px);
    -webkit-transform: translateX(1700px);  
    }
  }

  @keyframes sun-pulse {
from {
  -ms-transform: scaleX(1.0);
  -ms-transform: scaleY(1.0);
  -webkit-transform: scaleX(1.0);
  -webkit-transform: scaleY(1.0);
  transform: scaleX(1.0);
  transform: scaleY(1.0);
}
to {
  -ms-transform: scaleX(1.04);
  -ms-transform: scaleY(1.02);
  -webkit-transform: scaleX(1.04);
  -webkit-transform: scaleY(1.02);
  transform: scaleX(1.04);
  transform: scaleY(1.02);
}
}


