
body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(minmax(100px, 1fr));
  height: 100vh;
  width: 100vw;
  margin: 0px 0px;
  background-color: #7cc1fa;
  -moz-background: linear-gradient(#75b5f1, #ffd484);
  -webkit-background: linear-gradient(#75b5f1, #ffd484);
  background: linear-gradient(#75b5f1, #ffd484);
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: repeat-x;
  overflow: hidden;
  animation-name: sunset;
  animation-duration: 6s;
  animation-timing-function: ease;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

#cloud-1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  padding-top: 30px;
  }

#cloud_1 {
  position: absolute;
  animation-name: drifting_clouds;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
}

#cloud-2 {
  position: absolute;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  padding-top: 70px;  
  animation-name: drifting_clouds;
  animation-duration: 22s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;

  
}

#sun {
  grid-column-end: -1;
  grid-row: 1 / span 1;
  justify-self: center;
  position: relative;
  margin-right: 5vw;
  animation-name: sun-setting;
  animation-duration: 6s;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  }

#sea {
  grid-column: 1 / -1;
}

#sea-bottom {
  position: fixed;
  top: 88vh;
  bottom: 0px;
  z-index: 1;
  }

.heaving-sea {
  position: absolute;
  margin: 0px;
  padding: 0px;
  animation-name: heaving_sea;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  z-index: 2;
}

@keyframes heaving_sea {
  from {top:95vh;}
  to {top: 78vh;}

}

@keyframes sunset {
  0% {
      -moz-background: linear-gradient(#75b5f1, #ffd484);
      -webkit-background: linear-gradient(#75b5f1, #ffd484);
      background: linear-gradient(#75b5f1, #ffd484);
  }
  5% {
      -moz-background: linear-gradient(#78B4F2, #ffd484);
      -webkit-background: linear-gradient(#78B4F2, #ffd484);
      background: linear-gradient(#78B4F2, #ffd484);
    }
  10% {
      -moz-background: linear-gradient(#79B0F0, #ffd484);
      -webkit-background: linear-gradient(#79B0F0, #ffd484);
      background: linear-gradient(#79B0F0, #ffd484);
    }
  15% {
    -moz-background: linear-gradient(#7BACEF, #ffd484);
    -webkit-background: linear-gradient(#7BACEF, #ffd484);
    background: linear-gradient(#7BACEF, #ffd484);
  }
  20% {
    background: linear-gradient(#899EEF, #ffd484);
    -moz-background: linear-gradient(#899EEF, #ffd484);
    -webkit-background: linear-gradient(#899EEF, #ffd484);
  }
  25% {
    -moz-background: linear-gradient(#8A98F0, #ffd484);
    -webkit-background: linear-gradient(#8A98F0, #ffd484);
    background: linear-gradient(#8A98F0, #ffd484);
  }
  30% {
    -moz-background: linear-gradient(#9C86EB, #ffd484);
    -webkit-background: linear-gradient(#9C86EB, #ffd484);
    background: linear-gradient(#9C86EB, #ffd484);
  }
  35% {
    -moz-background: linear-gradient(#A084EB, #ffd484);
    -webkit-background: linear-gradient(#A084EB, #ffd484);
    background: linear-gradient(#A084EB, #ffd484);
  }
  40% {
    -moz-background: linear-gradient(#A778EA, #ffd484);
    -webkit-background: linear-gradient(#A778EA, #ffd484);
    background: linear-gradient(#A778EA, #ffd484);
  }
  45% {
    -moz-background: linear-gradient(#b271ee, #ffd484);
    -webkit-background: linear-gradient(#b271ee, #ffd484);
    background: linear-gradient(#b271ee, #ffd484);
  }
  48% {
    background: linear-gradient(#AF6FE9, #ffd484);
    -moz-background: linear-gradient(#AF6FE9, #ffd484);
    -webkit-background: linear-gradient(#AF6FE9, #ffd484);
  }
  50% {
    -moz-background: linear-gradient(#ae38d3, #ffd484);
    -webkit-background: linear-gradient(#ae38d3, #ffd484);
    background: linear-gradient(#ae38d3, #ffd484);
  }
  55% {
    -moz-background: linear-gradient(#9B32C3, #ffd484);
    -webkit-background: linear-gradient(#9B32C3, #ffd484);
    background: linear-gradient(#9B32C3, #ffd484);
  }
  60% {
    -moz-background: linear-gradient(#8B2AB7, #ffd484);
    -webkit-background: linear-gradient(#8B2AB7, #ffd484);
    background: linear-gradient(#8B2AB7, #ffd484);
  }
  65% {
    -moz-background: linear-gradient(#7A26AF, #ffd484);
    -webkit-background: linear-gradient(#7A26AF, #ffd484);
    background: linear-gradient(#7A26AF, #ffd484);
  }
  70% {
    -moz-background: linear-gradient(#6620A4, #ffd484);
    -webkit-background: linear-gradient(#6620A4, #ffd484);
    background: linear-gradient(#6620A4, #ffd484);
  }
  75% {
    -moz-background: linear-gradient(#541C97, #ffd484);
    -webkit-background: linear-gradient(#541C97, #ffd484);
    background: linear-gradient(#541C97, #ffd484);
  }
  80% {
    -moz-background: linear-gradient(#42178D, #ffd484);
    -webkit-background: linear-gradient(#42178D, #ffd484);
    background: linear-gradient(#42178D, #ffd484);
  }
  85% {
    -moz-background: linear-gradient(#381387, #ffd484);
    -webkit-background: linear-gradient(#381387, #ffd484);
    background: linear-gradient(#381387, #ffd484);
  }
  90% {
    -moz-background: linear-gradient(#2A0880, #ffd484);
    -webkit-background: linear-gradient(#2A0880, #ffd484);
    background: linear-gradient(#2A0880, #ffd484);
  }
  95% {
    -moz-background: linear-gradient(#20077F, #ffd484);
    -webkit-background: linear-gradient(#20077F, #ffd484);
    background: linear-gradient(#20077F, #ffd484);
  }
  100% {
    -moz-background: linear-gradient(#1B0978, #ffd484);
    -webkit-background: linear-gradient(#1B0978, #ffd484);
    background: linear-gradient(#1B0978, #ffd484);
  }
}

@keyframes sun-setting {
  0% {opacity: 1.0;}
  5% {opacity: 0.95;}
  10% {opacity: 0.9;}
  15% {opacity: 0.85;}
  20% {opacity: 0.8;}
  25% {opacity: 0.75;}
  30% {opacity: 0.7}
  35% {opacity: 0.65;}
  40% {opacity: 0.6;}
  45% {opacity: 0.55;}
  50% {opacity: 0.5;}
  55% {opacity: 0.45;}
  60% {opacity: 0.4;}
  65% {opacity: 0.35;}
  70% {opacity: 0.3;}
  75% {opacity: 0.25;}
  80% {opacity: 0.2;}
  85% {opacity: 0.15;}
  90% {opacity: 0.1;}
  92% {opacity: 0.07;}
  95% {opacity: 0.05;}
  97% {opacity: 0.025;}
  100% {opacity: 0.0;}
}

@keyframes drifting_clouds {
  0% {
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
    }

  100% {
    transform: translateX(1700px);
    -ms-transform: translateX(1700px);
    -webkit-transform: translateX(1700px);  
    }
  }

  @keyframes sun-pulse {
from {
  -ms-transform: scaleX(1.0);
  -ms-transform: scaleY(1.0);
  -webkit-transform: scaleX(1.0);
  -webkit-transform: scaleY(1.0);
  transform: scaleX(1.0);
  transform: scaleY(1.0);
}
to {
  -ms-transform: scaleX(1.04);
  -ms-transform: scaleY(1.02);
  -webkit-transform: scaleX(1.04);
  -webkit-transform: scaleY(1.02);
  transform: scaleX(1.04);
  transform: scaleY(1.02);
}
}

